.bg-login{
    background-image: url("../static/background/login-bg.svg");
    background-repeat: no-repeat;
    height: 700px;
    margin-top: 50px;
    background-size: contain;
    background-position: center;
}
.card-form{
    background-color: white;
    height: auto;
    padding-bottom: 50px;
    margin-top: 130px;
    width: 40%;
    float: right;
    margin-left: auto;
    margin-right: 15%;
    box-shadow: 4px 4px 10px #C4C4C4;
    border-radius: 10px;
}
.card-form-second{
    background-color: white;
    height: auto;
    padding-bottom: 50px;
    margin-top: 130px;
    width: auto;
    box-shadow: 4px 4px 10px #C4C4C4;
    border-radius: 10px;
}
h1,h2,h3,h4,h5,h6,p,label,button,input,a{
    font-family: 'Ubuntu';
}

.login-label{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #BEB1AF;
}

.input-login{
    width: 93%;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    padding: 10px;
    color: #C4C4C4;
    font-size: 14px;
    font-weight: 400;
    background-color: #F2F2F2;
}
.btn-login{
    border: none;
    background-color: rgba(151, 201, 61, 0.91);;
    box-shadow: 0.948454px 0.948454px 9.48454px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding-top: 5px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}
.heading-login{
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    font-weight: normal;
    border-bottom: 2px solid #BEB1AF;
    padding-bottom: 20px;
}
.heading-card-admin{
    font-size: 24px;
    letter-spacing: 0.04em;
    margin-top: 20px;
    font-weight: bold;
    color: #552D0F;
}
.label-card-admin{
    font-size: 14px;
    letter-spacing: 0.04em;
    line-height: 16px;
    font-weight: normal;
    color: #BEB1AF;
}
.form-card{
    width: 100%;
    border: 1px solid #C4C4C4;
    background-color: rgba(242, 242, 242, 0.25);
    padding:10px 10px 10px 10px;
    font-size: 14px;
    letter-spacing: 0.04em;
    line-height: 16px;
    font-weight: 300;
    border-radius: 10px;
}
input:active{
    border: none;
}

.logut-dashboard{
    font-size: 14px;
    letter-spacing: 0.04em;
    line-height: 16px;
    font-weight: 600;
    color: #4B3030;
}

.active-dashboard{
    font-size: 14px;
    letter-spacing: 0.04em;
    line-height: 16px;
    font-weight: normal;
    color: #4B3030;
}

.no-active-dashboard{
    font-size: 14px;
    letter-spacing: 0.04em;
    line-height: 16px;
    font-weight: normal;
    color: #BEB1AF;
}
.active-tab-dashboard{
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 16px;
    font-weight: normal;
    color: #4B3030;
}
.no-active-tab-dashboard{
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 16px;
    font-weight: normal;
    color: #BEB1AF;
}
.btn-input-customer{
    background: rgba(151, 201, 61, 0.91);
    box-shadow: 0.948454px 0.948454px 9.48454px rgba(0, 0, 0, 0.3);
    border-radius: 9.48454px;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: white;
    font-weight: 600;
    width: 30%;
    margin-top: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}