.bg-login{
    background-image: url("../static/background/login-bg.svg");
    background-repeat: no-repeat;
    height: 700px;
    margin-top: 50px;
    background-size: contain;
    background-position: center;
}
.card-form{
    background-color: white;
    height: auto;
    padding-bottom: 50px;
    margin-top: 130px;
    width: 40%;
    float: right;
    margin-left: auto;
    margin-right: 15%;
    box-shadow: 4px 4px 10px #C4C4C4;
    border-radius: 10px;
}
.card-form-second{
    background-color: white;
    height: auto;
    padding-bottom: 50px;
    margin-top: 130px;
    width: auto;
    box-shadow: 4px 4px 10px #C4C4C4;
    border-radius: 10px;
}
h1,h2,h3,h4,h5,h6,p,label,button,input,a{
    font-family: 'Ubuntu';
}

.login-label{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #BEB1AF;
}

.input-login{
    width: 93%;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    padding: 10px;
    color: #C4C4C4;
    font-size: 14px;
    font-weight: 400;
    background-color: #F2F2F2;
}
.btn-login{
    border: none;
    background-color: rgba(151, 201, 61, 0.91);;
    box-shadow: 0.948454px 0.948454px 9.48454px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding-top: 5px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}
.heading-login{
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    font-weight: normal;
    border-bottom: 2px solid #BEB1AF;
    padding-bottom: 20px;
}
.heading-card-admin{
    font-size: 24px;
    letter-spacing: 0.04em;
    margin-top: 20px;
    font-weight: bold;
    color: #552D0F;
}
.label-card-admin{
    font-size: 14px;
    letter-spacing: 0.04em;
    line-height: 16px;
    font-weight: normal;
    color: #BEB1AF;
}
.form-card{
    width: 100%;
    border: 1px solid #C4C4C4;
    background-color: rgba(242, 242, 242, 0.25);
    padding:10px 10px 10px 10px;
    font-size: 14px;
    letter-spacing: 0.04em;
    line-height: 16px;
    font-weight: 300;
    border-radius: 10px;
}
.form-card-second{
    width: 100%;
    border: 1px solid #C4C4C4;
    background-color: rgba(242, 242, 242, 0.25);
    padding:10px 10px 10px 10px;
    font-size: 14px;
    letter-spacing: 0.04em;
    line-height: 16px;
    font-weight: 300;
    border-radius: 20px;
    height: 38px;
}
input:active{
    border: none;
}

.logut-dashboard{
    font-size: 14px;
    letter-spacing: 0.04em;
    line-height: 16px;
    font-weight: 600;
    color: #4B3030;
}

.active-dashboard{
    font-size: 14px;
    letter-spacing: 0.04em;
    line-height: 16px;
    font-weight: normal;
    color: #4B3030;
}

.no-active-dashboard{
    font-size: 14px;
    letter-spacing: 0.04em;
    line-height: 16px;
    font-weight: normal;
    color: #BEB1AF;
}
.active-tab-dashboard{
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 16px;
    font-weight: normal;
    color: #4B3030;
}
.no-active-tab-dashboard{
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 16px;
    font-weight: normal;
    color: #BEB1AF;
}
.btn-input-customer{
    background: rgba(151, 201, 61, 0.91);
    box-shadow: 0.948454px 0.948454px 9.48454px rgba(0, 0, 0, 0.3);
    border-radius: 9.48454px;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: white;
    font-weight: 600;
    width: 30%;
    margin-top: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.label-tabel{
    font-size: 14px;
    color: #BEB1AF;
    letter-spacing: 0.04em;
    font-weight: 300;
    display: flex;
}
.list-tabel{
    font-size: 14px;
    color: #4B3030;
    display: flex;
    font-weight: normal;
    letter-spacing: 0.04em;
    line-height: 16px;
}
.edit-btn-table{
    background: rgba(151, 201, 61, 0.5);
    box-shadow: 0px 4px 18px #EDEDED;
    border-radius: 20px;
    font-size: 12px;
    color: white;
    text-align: center;
    letter-spacing: 0.04em;
    border: none;
    width: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.delete-btn-table{
    background: #F58B8B;
    box-shadow: 0px 4px 18px #EDEDED;
    border-radius: 20px;
    font-size: 12px;
    color: white;
    text-align: center;
    letter-spacing: 0.04em;
    border: none;
    width: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.table-consumen{
    background: rgba(242, 242, 242, 0.25);
    width: 100%;
    border: 1px solid #C4C4C4;
    margin-bottom: 20px;
}
.form-input{
    margin-top: 20px;
}
.img-background{
    background: #C4C4C4;
    border-radius: 10px;
    height: 200px;
}
.btn-product{
    display:  block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10px;
    box-shadow: 1.49414px 1.49414px 14.9414px rgba(0, 0, 0, 0.3);
    background: white;
    border-radius: 100px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
    font-weight: bold;
    color: #95C83D;
    border: none;
}
.label-add-admin{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 14px;
    align-items: center;
    letter-spacing: 0.04em;
    text-indent: 3.82347px;
    color: #04715A;
}
.bg-land-page{
    background: radial-gradient(100% 492.16% at 100% 0%, #EDEDED 0%, #FFFFFF 100%);
    margin-top: 5px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.head-land-page{
    font-size: 35px;
    width: 80%;
    margin-bottom: 20px;
    color: white;
    letter-spacing: 0.04em;
    text-indent: 3.82347px;
}
.rows-card-land-page{
    background: linear-gradient(233.98deg, #4B3030 39.75%, #FFFFFF 100.52%);
    border-radius: 20px;
}
.sub-head-land-page{
    font-size: 25px;
    color: #EDEDED;
    font-weight: 300;
    letter-spacing: 0.04em;
}
.card-product{
    box-shadow: 0px 4px 10px #BEB1AF;
    background: white;
    border-radius: 10px;
    padding-bottom: 20px;
    height: 26rem;
    margin-top: 20px;
}
.produk-img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.label-head-card{
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */

letter-spacing: 0.05em;

color: #542D0E;
}
.paragraph-card{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 11px;
letter-spacing: 0.05em;
color: #C4C4C4;
}
.label-price-card{
    font-size: 14px;
}
.btn-product{
    border: none;
    background-color: rgba(151, 201, 61, 0.91);;
    box-shadow: 0.948454px 0.948454px 9.48454px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding-top: 5px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.btn-product-non{
    border: none;
    background-color: #EDEDED;
    box-shadow: 0.948454px 0.948454px 9.48454px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding-top: 5px;
    color: #BEB1AF;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16%;
}
.btn-product-nul{
    border: none;
    background-color: #C4C4C4;
    box-shadow: 0.948454px 0.948454px 9.48454px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding-top: 5px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}